includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
    level: 8

    bootstrapFiles:
        - phpstan.bootstrap.php

    paths:
        - Classes
        # - Tests

    checkMissingIterableValueType: false