parameters:
	ignoreErrors:
		-
			message: """
				#^Call to deprecated method setControllerContext\\(\\) of class Vierwd\\\\VierwdSmarty\\\\View\\\\SmartyView\\:
				since v11, will be removed with v12\\.$#
			"""
			count: 1
			path: Classes/Frontend/ContentObject/Menu/SmartyMenuContentObject.php

		-
			message: """
				#^Fetching class constant class of deprecated class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\:
				since v11, will be removed with v12$#
			"""
			count: 1
			path: Classes/Frontend/ContentObject/Menu/SmartyMenuContentObject.php

		-
			message: """
				#^Call to deprecated method setControllerContext\\(\\) of class Vierwd\\\\VierwdSmarty\\\\View\\\\SmartyView\\:
				since v11, will be removed with v12\\.$#
			"""
			count: 1
			path: Classes/Mail/SmartyEmail.php

		-
			message: """
				#^Parameter \\$controllerContext of method Vierwd\\\\VierwdSmarty\\\\Mail\\\\SmartyEmail\\:\\:__construct\\(\\) has typehint with deprecated class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\:
				since v11, will be removed with v12$#
			"""
			count: 1
			path: Classes/Mail/SmartyEmail.php

		-
			message: """
				#^Parameter \\$controllerContext of method Vierwd\\\\VierwdSmarty\\\\Mail\\\\SmartyEmail\\:\\:initializeView\\(\\) has typehint with deprecated class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\:
				since v11, will be removed with v12$#
			"""
			count: 1
			path: Classes/Mail/SmartyEmail.php

		-
			message: """
				#^Call to deprecated method getBaseUri\\(\\) of class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Request\\:
				since v11, will be removed in v12\\.$#
			"""
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: """
				#^Call to deprecated method getFlashMessageQueue\\(\\) of class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\:
				since v11, will be removed in v12$#
			"""
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: """
				#^Call to deprecated method getUriBuilder\\(\\) of class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\:
				since v11, will be removed in v12$#
			"""
			count: 3
			path: Classes/View/SmartyView.php

		-
			message: """
				#^Call to deprecated method setControllerContext\\(\\) of class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\AbstractTemplateView\\:
				since v11, will be removed with v12\\.$#
			"""
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: "#^Cannot call method getFlashMessageQueue\\(\\) on TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\|null\\.$#"
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: "#^Cannot call method getRequest\\(\\) on TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\|null\\.$#"
			count: 13
			path: Classes/View/SmartyView.php

		-
			message: "#^Cannot call method getUriBuilder\\(\\) on TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\|null\\.$#"
			count: 3
			path: Classes/View/SmartyView.php

		-
			message: """
				#^Class Vierwd\\\\VierwdSmarty\\\\View\\\\SmartyView implements deprecated interface TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\:
				since v11, will be removed with v12\\. Use TYPO3Fluid\\\\Fluid\\\\View\\\\ViewInterface instead\\.$#
			"""
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: "#^Method Vierwd\\\\VierwdSmarty\\\\View\\\\SmartyView\\:\\:getControllerContext\\(\\) should return TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext but returns TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\|null\\.$#"
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: "#^Parameter \\#1 \\$controllerContext of method TYPO3\\\\CMS\\\\Fluid\\\\View\\\\AbstractTemplateView\\:\\:setControllerContext\\(\\) expects TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext, TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\|null given\\.$#"
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: "#^Parameter \\#1 \\$controllerContext of method Vierwd\\\\VierwdSmarty\\\\View\\\\SmartyView\\:\\:getViewFileName\\(\\) expects TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext, TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\|null given\\.$#"
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: """
				#^Parameter \\$controllerContext of method Vierwd\\\\VierwdSmarty\\\\View\\\\SmartyView\\:\\:getViewFileName\\(\\) has typehint with deprecated class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\:
				since v11, will be removed with v12$#
			"""
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: """
				#^Return type of method Vierwd\\\\VierwdSmarty\\\\View\\\\SmartyView\\:\\:getControllerContext\\(\\) has typehint with deprecated class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\:
				since v11, will be removed with v12$#
			"""
			count: 1
			path: Classes/View/SmartyView.php

		-
			message: """
				#^Call to deprecated method setControllerContext\\(\\) of class Vierwd\\\\VierwdSmarty\\\\View\\\\SmartyView\\:
				since v11, will be removed with v12\\.$#
			"""
			count: 1
			path: Classes/View/StandaloneSmartyView.php

		-
			message: """
				#^Fetching class constant class of deprecated class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerContext\\:
				since v11, will be removed with v12$#
			"""
			count: 1
			path: Classes/View/StandaloneSmartyView.php

		-
			message: """
				#^Call to deprecated method getControllerContext\\(\\) of class TYPO3\\\\CMS\\\\Fluid\\\\Core\\\\Rendering\\\\RenderingContext\\:
				since v11, will be removed in v12$#
			"""
			count: 1
			path: Classes/ViewHelper/SmartyViewHelper.php

		-
			message: """
				#^Call to deprecated method setControllerContext\\(\\) of class Vierwd\\\\VierwdSmarty\\\\View\\\\SmartyView\\:
				since v11, will be removed with v12\\.$#
			"""
			count: 1
			path: Classes/ViewHelper/SmartyViewHelper.php

