parameters:
    level: 8

    bootstrapFiles:
        - phpstan.bootstrap.php

    paths:
        - Classes
        # - Tests

    checkMissingIterableValueType: false

    ignoreErrors:
        -
            message: '#^Call to deprecated method setControllerContext.*#'
            paths:
                - Classes
        -
            message: '#^Call to deprecated method getControllerContext.*#'
            paths:
                - Classes
        -
            message: '#.*deprecated class TYPO3\\CMS\\Extbase\\Mvc\\Controller\\ControllerContext#'
            paths:
                - Classes
        -
            message: '#.*deprecated method (getUriBuilder|getFlashMessageQueue|getBaseUri).*(ControllerContext|Request).*#'
            paths:
                - Classes
        -
            message: '#.*deprecated method initializeView.*#'
            paths:
                - Classes
        -
            message: '#Access to deprecated property \$controllerContext.*#'
            paths:
                - Classes
