includes:
    - phpstan-baseline.neon

parameters:
    level: 8

    bootstrapFiles:
        - phpstan.bootstrap.php

    paths:
        - Classes
        # - Tests

    checkMissingIterableValueType: false